.spacious-1 {
  letter-spacing: 0.1rem;
}

.mt-2 {
  margin-top: 20rem;
}

.height-full {
  height: 100vh;
}

.naira {
  text-decoration: line-through;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}

.nairablock_sm {
  width: 50%;
}

.txt-lg {
  font-size: larger;
}

.laksaman {
  font-family: "laksaman";
}

.btn-lg {
  padding: 10px 30px;
}

.btn-sm {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3rem 0.2rem #2F4193;
}

.sitelogo {
  width: 100px;
}

.sitelogo_sm_header {
  margin: -2.5rem 3rem;
  width: 100px;
}

.sitelogo_sm_header_v2 {
  margin: -1.5rem 1rem;
  width: 90px;
  height: 70px;
}

.sitelogo_sm {
  width: 100px;
  height: 60px;
}

.sitelogo_sm_footer {
  height: 40px;
  border-radius: 100%;
}

.block {
  display: inline-block;
}

.btn_custom {
  padding: 1.5rem 5rem;
  background-color: #2F4193;
  color: white;
  border-radius: 0.2rem;
}

.btn_custom:hover {
  color: white;
}
